.header-color{
    background-color:black; 
    color: white;
}
/* toogle color */
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: gold !important;
    border: 1px solid #F63E7B !important;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
    color: #F63E7B;
}

.link-style{
    font-size: 17px;
    text-decoration: none;
    margin: 5px;
    padding: 0 10px;
    line-height: 40px;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
    padding: 7px 12px;
    border: 2px solid gold;
    }

    .link-style:hover{
        border: 2px solid gold;
        color: white;
        background-color: #F63E7B;
        
    }
    .login{
        border-radius: 5px;
        padding: 7px 12px;
        background-color: #F63E7B;
        font-weight: 500;
        color: rgb(0, 0, 0);
        border: 2px solid gold;
    }
    .login:hover{
        background-color: darkblue;
        color:wheat;
    }
    .login-2{
        border-radius: 5px;
        padding: 5px 10px;
        background-color: rgba(187, 26, 160, 0);
        color: white;
        border: 2px solid gold;
    }
    .login-2:hover{
        background-color: #F63E7B;
    }
    .buttonAll{
        border-radius: 30px;
        padding: 5px 10px;
        background-color:#0E5488;
        color: rgb(253, 253, 253);
    }
    .buttonAll:hover{
        background-color: rgb(0, 255, 85);
        color: black;
    }
    .userImg{
        height: 40px;
        width: 40ox;
        border-radius: 50%;
    }
    .logres{
        background-color:#0D6EFD;
        color: white;
        font-weight: 500;
        padding: 5px;
        border-radius: 5;
    }
    .logres:hover{
        background-color: #F63E7B;
         border: 2px solid gold;
    }
    .addServicebtn{
        background-color: #F63E7B;
        color: white;
        font-weight: 500;
        padding: 5px;
        border:2px solid black;
        border-radius: 5px;
    }
    .addServicebtn:hover{
        background-color:#0D6EFD;
         border: 2px solid gold;
    }
    .aprove{
         background-color:#0D6EFD;
         color: white;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid gold;
    }
    .aprove:hover{
        background-color: green;
    }
    .delete{
         background-color:#F63E7B;
         color: white;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid gold;
    }
    .delete:hover{
        background-color: #07295c;
        color: white;
    }