.header{
    background-color:#194271;  
}
.link-style{
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    line-height: 40px;
    font-family: sans-serif;
    }
    .link-style:hover{
        color: rgb(251, 255, 0);
    }
    .login{
        border-radius: 30px;
        padding: 5px 10px;
        background-color: rgb(0, 255, 85);
        color: black;
    }
    .login-2{
        border-radius: 30px;
        padding: 5px 10px;
        background-color: rgb(201, 145, 42);
        color:black;
    }
    .login:hover{
        background-color:rgb(251, 255, 0);
        color: black;
    }
    .buttonAll{
        border-radius: 30px;
        padding: 5px 10px;
        background-color:#0E5488;
        color: rgb(253, 253, 253);
    }
    .buttonAll:hover{
        background-color: rgb(0, 255, 85);
        color: black;
    }
    .userImg{
        height: 40px;
        width: 40ox;
        border-radius: 50%;
    }